<menu-component></menu-component>
<p>
  home works!
</p>
<div [hidden]="!isLogged()">
  // Directive for logged user welcome page
  <button (click)="logout()">Log off</button>
</div>
<div [hidden]="isLogged()">
  // Inject login component
  <login-component></login-component>
</div>
