<top-bar></top-bar>
<hr>
<p>Beginning of homepage</p>

<h1>PAGE D'ACCUEIL</h1>
<p>{{homepage.test}}</p>


<hr>


<!--
  LOGIN
  Display when credentials === empty
 -->
 <section id="login-section" ng-if="homepage.isLogged() == false">
   <p>login</p>
   <input type="text" name="username" value="" id="username-input" ng-model="homepage.login.username" />
   <input type="password" name="password" value="" id="password-input" ng-model="homepage.login.password" />
   <button type="button" name="button" ng-click="homepage.auth()">Se connecter</button>

 </section>

 <section id="logged-section" ng-if="homepage.isLogged() == true">
   <button type="button" name="button" id="disconned-btn" ng-click="homepage.disconnect()">Deconnecter</button>
   <p>Welcome to your dashboard {{ homepage.user.username }} .</p>
   <label for="user-info">Compte</label>
   <ul id="user-info">
     <li>Level {{ homepage.user.level }}</li>
   </ul>
   <label for="user-games">Jeux</label>
   <games-list></games-list>
 </section>

 <section id="connecting-component" ng-show="homepage.getConnecting() == true">
   <p>Loading</p>
 </section>

 <hr>

<p>End of homepage</p>
<hr>
