<div>
  Game name : {{name}}
  <br/>
  <button type="button" name="button" (click)="bootGame()">Launch game</button>
  <div id="game-container">
  </div>
  <!-- <phaser-component></phaser-component> -->
</div>
