<menu-component></menu-component>
<div class="">
  GAMES LIST
  <ul>
    <li><button type="button" name="button" (click)="loadGame(1)">Game 1</button></li>
    <li><button type="button" name="button" (click)="loadGame(1)">Game 2</button></li>
  </ul>


  <div class="" [hidden]="!selected">
    <game-page></game-page>
  </div>
</div>
