<div class="">
  <input type="text" [(ngModel)]="login_form.username" placeholder="Username" />
  <input type="password" [(ngModel)]="login_form.password" placeholder="Password"/>
  <button type="button" (click)="login()">Log in</button>
</div>
