/* @font-face {
  font-family: 'Multi';
  src: url('./fonts/Multi/Multi-Regular.ttf');
} */
@font-face {
  font-family: 'Noto';
  src: url('./fonts/Noto_Sans_TC/NotoSansTC-Regular.otf');
}

.hello {
  color: red;
  font-family: 'Noto';
  background: url('./construction.jpg');
}
