<section ng-show='gamesCtrl.logged == true'>
  <!-- <div ng-repeat='i in [0,1,2,3]'>
    cc
  </div> -->
  <div ng-repeat='(index,game) in gamesCtrl.games'>
    <ul>
      <li><button ng-click='gamesCtrl.loadGame(index)'>{{game.name}}</button></li>
    </ul>
    <!-- {{ index }} => {{ game }} -->
  </div>

<div id="game-player-container" style="border:1px red solid; height:20px;">
  <!-- <game-player id="game-player"></game-player> -->
</div>
<!-- NOT WHAT I WANT  -->
<!-- <game-player id="game-player" hidden="true"></game-player> -->
</section>

<style>
  a {} /* All anchors */
  a:link, a:visited {} /* Override */
</style>
